.viewport{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99.8%;
    margin-bottom: 30px;
}

.sectionOne{
    width: 75%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sectionTwo{
    width: 75%;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sectionTwo select{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 35px;
}

.sectionThree{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

.navBar{
    width: 99.8%;
    display: flex;
    align-items: center;
}

.navBarContent{
    width: 75%;
}

.navBar nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.navDivider{
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.navText{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    color: #254F4C;
}

.navMenu{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.newProduct{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 350px;
    background-color: #2B4241;
}

.newProductDesc{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newProduct div h4, p{
    margin: 0;
    padding-top: 10px;
    text-align: center;
    color: white;
}



.newProductDesc div span{
    color: white;
}

.newProductSize{
    width: 117px;
    height: 94px;
    position: relative;
    bottom: 20px;
}

.btnFrame{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCount{
    border: none;
    background-color: inherit;
    color: #FF583E;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;
}

.btnCart{
    border: none;
    border-radius: 20px;
    background-color: #FF583E;
    color: white;
    width: 170px;
    height: 38px;
    cursor: pointer;
    font-weight: bold;
}

.smallFont{
    font-size: 14px;
}

.marginRight{
    margin-right: 10px;
}

.whiteText{
    color: white;
}